{% extends 'base.html' %}

{% block content %}

<main class="">
    <!-- Categories -->
    <div class="container m-auto mt-3 row gap-2 justify-content-center">
        <h1 class="d-flex justify-content-center mb-3">All categories</h1>
        {% if not categories %}
			<h2 class="mt-5">
				<p class="d-flex justify-content-center align-items-center">
					<b>Container of categories are empty😎. </b>
				</p>
			</h2>
		{% endif %}
        {% for category in categories %}
            <div class="card col-3 p-0">
                <img 
                    class="card-img-top"
                    src="{{ category.image.url }}"
                    alt="{{ category.name }}"
                />
                <div class="card-body">
                    <h3>
                        <a class="text-decoration-none" href="{% url 'product_list' category.id %}">
                            {{ category.name }}
                        </a>
                    </h3>
                    <p class="card-text">
                        {{ category.description|truncatechars:70 }}
                    </p>
                    <div class="d-flex flex-column gap-2"></div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    {% include 'components/_pagination.html' with custom_range=custom_range page_obj=page_obj %}
    
</main>

{% endblock content %}

