{% extends 'base.html' %}

{% block content %}

<section class="vh-100 bg-white">
	<div class="container py-5 h-100">
		<div class="row d-flex align-items-center justify-content-center h-100">
			<div class="col-md-8 col-lg-7 col-xl-6">
				<img
					src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
					class="img-fluid"
					alt="Phone image"
				/>
			</div>
			<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
				<form action="" class="form auth__form" method="post">
					{% csrf_token %}

					{% for field in form %}
					<div data-mdb-input-init class="form-outline mb-4">
						<input
							type="email"
							id="form1Example13"
							class="text-black form-control form-control-lg"
						/>
						<label class="text-black form-label" for="id_{{ field.name }}">{{ field.label }}</label>
					</div>
					{% endfor %}
					

					<!-- Submit button -->
					<button
						type="submit"
						class="btn btn-primary btn-lg btn-block"
					>
						Sign up
					</button>
					<a
						class="btn btn-primary btn-lg btn-block"
						href="#!"
						role="button">
						<i class="fab fa-google me-2"></i>Continue with Google
					</a>
				</form>
				<div class="d-flex justify-content-center mt-3">
					<p class="m-0 text-black">
						Already have an account ?
						<a href="{% url 'login' %}">Sign in</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}